<li>
	<% if article.website? %>
	  <a href="<%= article.website %>"><%= article.title %></a>
	<% else %>
	  <%= link_to  article.title, '#' %>
	<% end %>
	<div class="row">
	    <span class="timestamp">
	  	    Posted <%= time_ago_in_words(article.created_at) %> ago.
	    </span>
    
	<% if current_user?(article.user) %>
	    <%= link_to "delete", article, method: :delete,
	                                   data: {confirm: "You sure?"},
	                                   title: article.title %>
	<% end %>
	</div>
</li>