<li>
	<% if schoolnews.site? %>
	  <a href="<%= schoolnews.site %>" target="_blank"><%= schoolnews.title %></a>
	<% else %>
	  <%= link_to  schoolnews.title, schoolnews_path(schoolnews.id) %>
	<% end %>
	<div >
	    <span class="timestamp">
	  	    Posted <%= time_ago_in_words(schoolnews.created_at) %> ago.
	    </span>
    
	<% if current_user?(schoolnews.user) %>
	    <%= link_to "delete", schoolnews, method: :delete,
	                                   data: {confirm: "You sure?"},
	                                   title: schoolnews.title %>
	<% end %>
	</div>
</li>