<li>
	<% if schoolnews.website? %>
	  <a href="<%= schoolnews.website %>" target="_blank"><%= schoolnews.title %></a>
	<% else %>
	  <%= link_to  schoolnews.title, '#' %>
	<% end %>
	<div class="row">
	    <span class="timestamp">
	  	    Posted <%= time_ago_in_words(article.created_at) %> ago.
	    </span>
    
	<% if current_user?(article.user) %>
	    <%= link_to "delete", schoolnews, method: :delete,
	                                   data: {confirm: "You sure?"},
	                                   title: schoolnews.title %>
	<% end %>
	</div>
</li>