<% provide(:title, "最新的新闻资讯！") %>
<div class="container">
	<div class="span8">
    <% if @schoolnews %>
    <div class="bigbox">
     <h4>武汉大学印刷与包装系相关新闻资讯</h4>
		  <ol class="articles">
		  	<% @schoolnews.each do |news| %>
		  	<li>
		  		<div >
		  	    <% if news.site? %>
	               <a href="<%= news.site %>" target="_blank"><%= news.title %></a>
	            <% else %>
	                <%= link_to  news.title, schoolnews_path(news.id) ,:target => '_blank'%>
	            <% end %>
	            
	           <div >
	                <span class="timestamp">
	  	                Posted by <%= link_to news.user.name, user_path(news.user.id),:id => "post_user", :target => '_blank' %> 
	  	                <%= time_ago_in_words(news.created_at) %> ago|
	                </span>
	                <en class="btn-link" ><%= link_to  "disquss", schoolnews_path(news.id),:id => "post_user",:target => '_blank' %></en>
	            </div>
	            </div>
		  	</li>
		  	<% end %>
		  </ol>
		  
	<% end %>
   <%= will_paginate @schoolnews %>
</div>
</div>
</div>