<% provide(:title, "最新的新闻资讯！") %>
<div class="container">
    <% if @schoolnews %>
     <h4>Those news are  for the students of WuHan University</h4>
		  <ol class="articles">
		  	<% @schoolnews.each do |news| %>
		  	<li>
		  	    <% if news.site? %>
	               <a href="<%= news.site %>" target="_blank"><%= news.title %></a>
	            <% else %>
	                <%= link_to  news.title, schoolnews_path(news.id) ,:target => '_blank'%>
	            <% end %>
	           <div class="row">
	                <span class="timestamp">
	  	                Posted by <%= link_to news.user.name, user_path(news.user.id),:id => "post_user", :target => '_blank' %> 
	  	                <%= time_ago_in_words(news.created_at) %> ago.
	                </span>
	            </div>
		  	</li>
		  	<% end %>
		  </ol>
		  
	<% end %>
   <%= will_paginate @schoolnews %>
</div>