<% provide(:title, '发布新闻') %>

<div class="row">
  <div class=" span6 offset3">
  	<section>
  		<%= form_for(@schoolnew) do |f| %>
            <%= render 'shared/error_messages', object: f.object %>
  
            <%= f.label :title %>
            <%= f.text_field :title %>

	        <%= f.label :site %>
	        <%= f.text_field :site %>

	        <div class="field">
		        <%= f.text_area :content,placeholder: "请对新闻做简要说明，可以不写。注：标题不能为空，如不填写链接将直接发布为讨论帖。" %>
	        </div>
	        <%= f.submit "发布", class: "btn btn-large btn-primary pull-right" %>
        <% end %>
  	</section>
  </div>
</div>